body {
    background-color: #eaf1f1;
}

.navbar {
    background-color: #038195;
    margin-bottom: 0px;
    border-radius: 0px;
    border: solid 0px #038195;
}

.navbar-brand img{
    max-width: 120px; 
    margin-top: -7px;
}

.navbar-btn, .navbar-btn:active{
    color: #FFFFFF;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
    min-height: 50px;
    border-radius: 0px;
    border-width: 0px 0px 0px 0px;
}

.navbar-btn:focus, .navbar-btn:hover {
    color: #FFFFFF;
    background-color: #000000;
    height: 100%;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#profileDropdownMenuSmall, #profileDropdownMenuSmall:active {
    color: #FFFFFF;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
    min-height: 50px;
    border-radius: 0px;
    border-width: 0px 0px 0px 0px;
}

#profileDropdownMenuSmall:focus, #profileDropdownMenuSmall:hover {
    color: #FFFFFF;
    background-color: #000000;
    height: 100%;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#collapseNavbar ul li a{
    color: #FFFFFF;
}

.signupForm, .loginForm{
    margin-top: 150px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
}

.editProfile {
    margin-top: 60px;
    margin-bottom: 50px;
}

.signupForm form, .loginForm form {
    padding: 20px 20px 20px 20px;
}

.signupForm label, .loginForm label{
    color: #000000;
}

.footer .navbar {
    background-color: #FFFFFF;
}

.footer .navbar-nav li a, .footer .navbar-text {
    color: #515550;
}

.footer .navbar-nav li a:hover {
    color: #119503;    
}

#profilephoto {
    max-height: 60px;
    max-width: 60px;
    margin: 0 auto;
    margin-top: -35px;
    margin-bottom: -35px;
}

#profileImage {
    max-height: 70px;
    max-width: 70px;
}

.dashboard-main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.alert-main {
    padding-top: 30px;
}

.complete-profile-jumbotron{
    padding-top: 90px;
}

.feedbackContainer {
    padding-top: 30px;
    padding-bottom: 90px;
    border-radius: 10px;
}

.progress {
    height :10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn-link {
    background-color: transparent;
}

.btn-link:hover {
    background-color: transparent;
}

.btn-link:selected {
    background-color: transparent;
}