html body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    
    background-image: url("../images/landing.jpg");
    background-color: #95b3d6;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center, center;
    background-attachment: fixed;
    background-size: cover;
}

.mainView {
    margin-bottom: 100px;
    margin-top: 100px;
}

#loginButton, #loginButton:active {
    color: #FFFFFF;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 0px;
    height: auto;
    min-height: 50px;
    border-radius: 0px;
    border-width: 0px 0px 0px 0px;
}

#loginButton:hover, #loginButton:focus {
    color: #000000;
    background-color: transparent;
    height: 100%;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-width: 0px;
}

.navbar-toggle {
    color: #FFFFFF;
    border-width: 0px;
}

.navbar-toggle:hover {
    color: #FFFFFF;
    background-color: transparent;
}

.navbar {
    background-color: transparent;
    margin-bottom: 0px;
    border-radius: 0px;
    border: solid 0px #038195;
}

.navbar-brand img{
    max-width: 150px; 
    margin-top: -7px;
}

.navbar-btn {
    color: #FFFFFF;
}

.navbar-btn:hover {
    color: #DDDDDD;
}

.navbar-default .navbar-nav>li>a{
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #000000;
}

#marketingTextHead{
    color: #038195;
}

#marketingTextSub{
    color: #038195;
}

.signupForm {
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    margin-top: 50px;
}

.signupForm form, .loginForm form {
    padding: 20px 20px 20px 20px;
}

.footer .navbar {
    background-color: #FFFFFF;
}

.footer .navbar-nav li a, .footer .navbar-text {
    color: #515550;
}

.footer .navbar-nav li a:hover {
    color: #119503;    
}

.profile {
    padding-top: 15px;
    padding-bottom: 15px;
}

.cover {
    width: 100%;
}

.panel-body .thumbnail {
    display: inline-block;
    max-width: 100px;
}


