html body {
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;*/
    
    background-image: url("../images/jokowi/halftone.png");
    background-color: #95b3d6;
    background-repeat: repeat;
    /*background-color: #F1E0C0;*/
}

.logo-view {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #A70012;
}


.top-view {
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top-view h1 {
  font-size: 5em;
}

.middle-view {
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-view {
  padding-top: 50px;
  height: 400px;
  background-color: #A70012;
}

.footer-view h1, .footer-view h5 {
  color: white;
}

.mid-step {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mid-step h2 {
}

.img-step {
  width: 200px;
  height: 200px;
}

.img-footer {
}