body {
    background-color: #eaf1f1;
}

.navbar {
    background-color: #038195;
    margin-bottom: 0px;
    border-radius: 0px;
    border: solid 0px #038195;
}

.navbar-brand img{
    max-width: 120px; 
    margin-top: -7px;
}

.navbar-default .navbar-nav>li>a{
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #aaaaaa;
}

.navbar-btn, .navbar-btn:active{
    color: #FFFFFF;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
    min-height: 50px;
    border-radius: 0px;
    border-width: 0px 0px 0px 0px;
}

.navbar-btn:focus, .navbar-btn:hover {
    color: #FFFFFF;
    background-color: #000000;
    height: 100%;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#profileDropdownMenuSmall, #profileDropdownMenuSmall:active {
    color: #FFFFFF;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
    min-height: 50px;
    border-radius: 0px;
    border-width: 0px 0px 0px 0px;
}

#profileDropdownMenuSmall:focus, #profileDropdownMenuSmall:hover {
    color: #FFFFFF;
    background-color: #000000;
    height: 100%;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#logDropdownMenuSmall, #logDropdownMenuSmall:active {
    color: #FFFFFF;
    background-color: transparent;
    margin-top: 7px;
    margin-bottom: 0px;
    height: 100%;
    border-radius: 0px;
    border-width: 0px 0px 0px 0px;
}

#logDropdownMenuSmall:focus, #logDropdownMenuSmall:hover {
    color: #FFFFFF;
    background-color: #000000;
    height: 100%;
    border-radius: 0px;
    margin-top: 7px;
    margin-bottom: 0px;
}

#collapseNavbar ul li a{
    color: #FFFFFF;
}

.signupForm, .loginForm{
    margin-top: 150px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
}

.editProfile {
    margin-top: 60px;
    margin-bottom: 50px;
}

.signupForm form, .loginForm form {
    padding: 20px 20px 20px 20px;
}

.signupForm label, .loginForm label{
    color: #000000;
}

.footer .navbar {
    background-color: #FFFFFF;
}

.footer .navbar-nav li a, .footer .navbar-text {
    color: #515550;
}

.footer .navbar-nav li a:hover {
    color: #119503;    
}

.profileContent, .editContent {
    margin-top: 30px;
    margin-bottom: 30px;
}

.panel-body .thumbnail {
    display: inline-block;
    max-width: 100px;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

#profilephoto {
    max-height: 70px;
    max-width: 70px;
    margin: 0 auto;
    margin-top: -35px;
    margin-bottom: -35px;
}

#profileImage {
    max-height: 70px;
    max-width: 70px;
}

.section-main {
    padding-top: 90px;
    padding-bottom: 90px;
}

.feedbackContainer {
    padding-top: 70px;
    padding-bottom: 90px;
    border-radius: 10px;
}

.category-chooser label input{
    font-size: 10px;
}

.profileContent {
    padding-top: 70px;
    padding-bottom: 70px;
}

#upload-progress .progress-bar {
    height: 18px;
    background: #158cba;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border: 1px solid #0073ae;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  color: #fff;
  background-color: #0069a4;
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7;
}

#shareWidget{
  width: 250px;
  height: 50px;
}

.sharrre .button{
  float:left;
  width:60px;
}