<div ng-show="!feedbackCtrl.feeds.length">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>No feedbacks so far.</p>
      Share your feedbox link to your customer so they can give their feedback to you.
    </div>
  </div>
</div>

<div ng-init="feedLimit = 1" ng-repeat="feed in feedbackCtrl.feeds | filter:{Category: filterByCategory}" >
  <div class="panel" ng-class="{'panel-info': feed.Category == 'suggestion', 'panel-danger': feed.Category == 'complaint', 'panel-success': feed.Category == 'compliment', 'panel-warning': feed.Category == 'question', 'panel-primary': feed.Category == 'testimonial'}">
    <div class="panel-heading">
      <h4 class="panel-title"><img ng-src="/images/{{feed.Category}}Light20.png" alt="{{feed.Category}}"> {{feed.Category}} <span class="pull-right" am-time-ago="feed.Created" am-preprocess="unix"></span></h4>
      
    </div>

    <div class="panel-body">
      <div class="media">
        <a class="pull-left" href="/me/{{feed.Uploader.Name}}">
          <img class="media-object img-circle img-responsive" src="/images/recominer.jpeg" ng-src="{{feed.Uploader.ProfileImageUrl}}" alt="profile">
        </a>

        <div class="media-body">
          <h5 class="media-heading"><a href="/me/{{feed.Uploader.Name}}">{{feed.Uploader.FullName}}</a><br><small>{{feed.Created*1000 | date:'d MMM yy - HH:mm:ss'}}</small></h5>
          <p>"{{feed.Message}}"</p>
        </div>
      </div>
      <a role="button" class="btn btn-link pull-right" ng-click="feedLimit = feed.Replies.length" ng-show="(feedLimit == 1) && (feed.Replies.length > 1)"><span class="fa fa-caret-down"></span> show {{feed.Replies.length}} replies</a>
      <a role="button" class="btn btn-link pull-right" ng-click="feedLimit = 1" ng-show="(feedLimit > 1) && (feed.Replies.length > 1)"><span class="fa fa-caret-up"></span> hide {{feed.Replies.length}} replies</a>
      <hr>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11" ng-repeat="reply in feed.Replies | limitTo: -feedLimit">
            <div class="media">
              <a class="pull-left" href="/me/{{reply.Uploader.Name}}">
                  <img ng-if="reply.Uploader.Id == feed.Uploader.Id" class="media-object img-circle" src="images/recominer.jpeg" ng-src="{{reply.Uploader.ProfileImageUrl}}" alt="profile photo">
                  <img ng-if="reply.Uploader.Id != feed.Uploader.Id" class="media-object img-circle" src="images/recominer.jpeg" ng-src="{{reply.Uploader.OwnedBusiness.ProfileImageUrl}}" alt="profile photo">
              </a>
              <div class="media-body">
                  <h5 ng-if="reply.Uploader.Id == feed.Uploader.Id" class="media-heading"><a href="/me/{{reply.Uploader.Name}}">{{reply.Uploader.FullName}}</a><br><small>{{reply.Created*1000 | date:'d MMM yy - HH:mm:ss'}}</small></h5>
                  <h5 ng-if="reply.Uploader.Id != feed.Uploader.Id" class="media-heading"><a href="/us/{{reply.Uploader.OwnedBusiness.ShortName}}">{{reply.Uploader.OwnedBusiness.FullName}}</a><small> - {{reply.Created*1000 | date:'d MMM yy - HH:mm:ss'}}</small></h5>
                  <p>"{{reply.Message}}"</p> 
              </div>
            </div>
            <hr>
        </div>
      </div>

      <form role="form" name="replyForm" ng-submit="feedbackCtrl.addReply(feed.Id, feedbackCtrl.replies[$index].reply, $index)" novalidate>
        <div class="row">
          <div class="col-md-10">
            <textarea name="replyText" class="form-control growing-text" rows="1" placeholder="Insert your reply here..." ng-model="feedbackCtrl.replies[$index].reply"></textarea>
          </div>
          <div class="col-md-2">
            <button class="btn btn-default btn-block" type="submit" id="reply-button">Reply</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
