<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Recomine - Berikan masukan pada presidenmu</title>

    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/jokowi.css" rel="stylesheet"/>
</head>
<body>
  <div class="logo-view">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="/"><img class="img-responsive center-block" src="/images/logoLight.png" alt="Recomine Logo"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="top-view">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="images/jokowi/jokowi.png" class="img-responsive center-block" alt="Joko Widodo"/>
          </div>
          <div class="col-md-6 text-center">
            <h1 class="text-center">Sampaikan masukan pada presidenmu</h1>
            <br>
            <br>
            <a class="btn btn-primary btn-lg" role="button" href="/us/presidenku">Beri masukan sekarang</a>
          </div>
        </div>
      </div>
  </div>

  <div class="middle-view">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mid-title">
            <h1 class="text-center">Tiga langkah mudah untuk menyampaikan masukanmu:</h1>
          </div>
          <hr>
          <div class="mid-step mid-step-one">
            <img src="images/jokowi/web.png" class="img-step center-block" alt="First step"/>
            <h2 class="text-center">Buka halaman <a href="/us/presidenku">http://recomine.us/presidenku</a></h2>
            <img src="images/jokowi/browser.png" class="img-responsive center-block" alt="Browser open"/>
            <h4 class="text-center">Buka halaman tersebut dari gadget apapun yang ada di sekitar kamu. Semua gadget bisa membuka link tersebut selama terhubung dengan internet dan memiliki fasilitas internet browser.</h4>
          </div>
          <hr>
          <div class="mid-step mid-step-two">
            <img src="images/jokowi/write.png" class="img-step center-block" alt="Second step"/>
            <h2 class="text-center">Tulis masukanmu di form yang disediakan</h2>
            <img src="images/jokowi/feedback.png" class="img-responsive center-block" alt="Add Feedback"/>
            <h4 class="text-center">Tulis masukan, saran, harapan, bahkan kritik kepada Presiden pilihanmu ke form di halaman <a href="/us/presidenku">http://recomine.us/presidenku</a>, submit dengan menggunakan id Recomine kalian. Bagi yang belum memiliki id Recomine tinggal daftarkan diri kalian di fitur Sign Up yang disediakan. Jangan lupa gunakan bahasa Indonesia yang mudah dipahami agar bisa dimengerti oleh pihak yang berkepentingan.</h4>
          </div>
          <hr>
          <div class="mid-step mid-step-three">
            <img src="images/jokowi/share.png" class="img-step center-block" alt="Third step"/>
            <h2 class="text-center">
              Ajak temanmu untuk berpartisipasi
              <br>
              <img src="images/jokowi/shares.png" class="img-responsive center-block" alt="Share link"/>
              <a href="/us/presidenku">http://recomine.us/presidenku</a>
            </h2>
            <h4 class="text-center">Ajaklah teman-temanmu untuk berpartisipasi sebanyak mungkin, semakin banyak masukan untuk Presiden baru kita tentunya semakin baik bagi perkembangan bangsa Indonesia ke depannya.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-view">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="images/jokowi/asus.png" class="img-responsive img-footer center-block" alt="ASUS Zenphone"/>
        </div>
        <div class="col-md-9">
          <h1>Tunggu apa lagi?</h1>
          <a href="/us/presidenku" class="btn btn-danger btn-lg">Sampaikan masukanmu sekarang</a>
          <br>
          <br>
          <h5>Setiap masukan yang dikirimkan lewat Recomine akan kami kompilasi menjadi infografis masukan bangsa yang akan kami publikasikan dalam event resmi Recomine. Bagi Recominer yang bersedia menuliskan masukan, saran, harapan, dan kritiknya kepada Presiden terpilih akan mendapat kesempatan memenangkan hadiah utama berupa Asus Zenfone 4 terbaru yang akan diundi ketika launching infografis tersebut.</h5>
        </div>
      </div>
    </div>
  </div>
</body>
</html>