<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Recomine - Customer Feedback Management</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/recomine.css" rel="stylesheet">
    <link href="/css/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
        mixpanel.init("3185f6f34dfcaccf49aff7d2dc87439e");</script><!-- end Mixpanel -->
</head>

<body>
    <script>
        mixpanel.track("Log in load");
    </script>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="/signup" class="btn btn-link navbar-toggle hidden-sm hidden-md hidden-lg" id="logDropdownMenuSmall">
                Sign Up
              </a>
                <a class="navbar-brand" href="/">
                    <img src="/images/logoLightExtraSmall.png" alt="Recomine Logo">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signup" class="btn btn-link">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="loginForm">
                    [[if .alert]]
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        [[if eq .alert "email"]]The email is not registered. Please sign up first.[[else]]The password is wrong. Please try again with the correct one.[[end]]
                    </div>
                    [[end]]
                    <form id="loginForm" role="form" action="/login" method="POST">
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Put your password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Log In</button>
                    </form>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->

    <div class="footer hidden-xs">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="http://www.facebook.com/recominer" target="_blank">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/recominer" target="_blank">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.recomine.com" target="_blank">Blog</a>
                    </li>
                    <li>
                        <a href="http://recomine.com/us/recomine" target="_blank">Contact</a>
                    </li>
                </ul>
                <p class="navbar-text navbar-right">&#0169; 2014 Recomine.
                    <span class="hidden-xs">All rights reserved.</span>
                </p>
            </div>
        </nav>
    </div>

    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrapValidator.min.js"></script>
    <script src="/js/recomine.js"></script>
</body>

</html>
